/* Fonte */
@font-face {
  font-family: 'AlegreyaSans';
  src: url('Fonts/AlegreyaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GlamourAbsolute';
  src: url('Fonts/fonnts.com-Glamour_Absolute_regular.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
  letter-spacing: 4%;
}
*{
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: rgba(242, 239, 234, 1);
}

/* Navigation */
nav {
  background-color: rgba(242, 239, 234, 1);
  width: 100%;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 100px;
}
nav a{
  height: 100%; 
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(1, 64, 141, 1);
  font-family: 'GlamourAbsolute';
  font-size: 16x;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar {
  position: fixed; 
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  background-color: rgba(243, 215, 211, 0.437);
  backdrop-filter: blur(20px);
  display:  none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
}
.sidebar li {
  width: 100%; 
}
.sidebar a {
  width: 100%;
}
.menu-knap {
  display: none;
}
@media (max-width: 768px){
  .hideOnMobile {
    display: none;
  }
  .menu-knap{
    display: block;
  }
}
.header__menu-item a[href="#kontakt"], .hideOnMobile a[href="#kontakt"] {
  color: rgba(224, 84, 49, 1);/* Erstat denne farve med den ønskede farve */
}
.header__logo {
  width: auto;
  height: 100px;
}

/* Skrift */
h1, h2, h3{
  font-family: 'GlamourAbsolute';
  font-weight: lighter;
  text-align: center;
}
h1 {
  font-size: 100px;
  color: rgba(1, 64, 141, 1);
  padding: 2% 0 2% 0;
}
h2 {
  font-size: 64px;
  color: rgba(231, 82, 52, 1);
  padding: 10% 0 10% 0;
}
h3 {
  font-size: 64px;
  color: rgba(1, 64, 141, 1);
  padding: 10% 0 10% 0;
}
p {
  font-family: 'AlegreyaSans';
  font-size: 20px;
  line-height: 24px;
  text-align: left; /* Venstrestiller teksten */
  padding: 0 5% 5% 5%;
}
@media (max-width: 768px) {
h1 {
  font-size: 50px;
}
h2, h3 {
  font-size: 36px;
}

p{
  font-size: 16px;
}
}

/* Knapper */
.knap {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 45px;
  font-size: 24px;
  font-family: 'GlamourAbsolute';
  width: 180px;
  text-align: center;
  background-color: rgba(242, 239, 234, 1);
  color: rgba(224, 84, 49, 1);
  border: 1px solid rgba(224, 84, 49, 1);
  margin: 2px;
  text-decoration: none;
}
.knap--speciel {
  background-color: rgba(248, 184, 175, 1);
}
@media (max-width: 768px) {
  .knap {
    width: 120px;
    padding: 10px;
    font-size: 16px;
  }
}

/* Billeder generelt */
img {
  width: 100%; /* Gør billedet fylde hele bredden af gridet */
  height: auto; /* Gør billedet fylde hele højden af gridet */
  object-fit: cover; /* Dækker hele grid-området uden at forvrænge billedet */
}

/* Grid generelt */
.grid {
  display: grid;
  box-sizing: border-box;
  place-items: center;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  padding: 0 5%;
}

/* Velkommen Sektion */
.velkommen__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(243, 215, 211, 1);
}
.velkommen__billede {
  grid-row: 1 / 4; /* Gør at billedet strækker sig fra række 1 til række 4 (3 rækker) */
  grid-column: 2; /* Gør at billedet fylder hele kolonne 2 */
}
/* Mobil Velkommen */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .velkommen__billede {
    grid-column: 1;
    grid-row: 4;
  }

}
/* Udvalgte Projekter */
.udvalgteprojekter__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 kolonner */
  grid-template-rows: auto 1fr auto; /* 3 rækker: én til titel, én til billeder, én til knap */
  box-sizing: border-box;
  background-color: rgba(150, 173, 214, 1);
  align-items: center;
  margin-top: 5%;
}
.udvalgteprojekter__title {
  grid-column: 1 / 4; /* Strækker sig over alle 3 kolonner */
}
.udvalgteprojekter__billede1, .udvalgteprojekter__billede2, .udvalgteprojekter__billede3 {
  padding: 0 2% 0 2%;
}
.udvalgteprojekter__billede1 {
  grid-column: 1; /* Placeres i første kolonne */
}
.udvalgteprojekter__billede2 {
  grid-column: 2; /* Placeres i anden kolonne */
}
.udvalgteprojekter__billede3 {
  grid-column: 3; /* Placeres i tredje kolonne */
}
.udvalgteprojekter__knap {
  grid-column: 2; /* Placeres i anden (midterste) kolonne */
  padding: 10% 0 10% 0;
}
/* Mobil udvalgte projekter */
@media (max-width: 768px)
{
  .udvalgteprojekter__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .udvalgteprojekter__title {
    grid-row: 1; /* Første række */
    grid-column: 1;
  }
  .udvalgteprojekter__billede1 img {
    grid-column: 1;
    grid-row: 2;
  }
  .udvalgteprojekter__billede2 {
    grid-column: 1;
    grid-row: 3;
  }
  .udvalgteprojekter__billede3 {
    grid-column: 1;
    grid-row: 4;
  }
  .udvalgteprojekter__knap {
    grid-column: 1;
    grid-row: 5;
  }
}




.kontakt__logo img {
  grid-column: 1;
  width: 100%; /* Billedet fylder hele kolonnen */
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Ens hjørner på logoet */
}